@font-face {
  font-family: 'NeoTech';
  src: url('/css/fonts/NeoTech.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'NeoTech';
  src: url('/css/fonts/NeoTech-Bold.woff2') format('woff2');
  font-weight: bold;
}
body {
    position: absolute;
    background-color: #1B181A;
    font-family: 'Poppins', sans-serif;
    color: #FFF8FD;

}
header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1280px;
    height: 120px;
    font-size: 20px;
    padding: 20px;

    
}
header::after {
  content: "";
  position: absolute;
  top: 110px;
  left: -10px;
  height: 2px;
  width: 1538px;
  background: repeating-linear-gradient(#918C8F);
}
.logo {
    height: 60px;
    width: auto;
    
    /*position: absolute;   
    top: 25px;
    left: 30px;
    width: 60px;
    height: 60px;*/
}
/*.dev {
    font-family: 'NeoTech', sans-serif;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    letter-spacing: 1px;
    background: linear-gradient(to right, #F266CD, #D977D2, #AF75BF, #8487BF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 12px;
    left: 95px;
}*/
nav {
    /*position: absolute;
    top: 40px;
    right: 150px;*/
    display: flex;
    gap: 32px;
    align-items: stretch;
}
.menu {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  top: 0px;
  right: 70px;
  font-size: 20px;
  margin-right: 32px;
  font-weight: 600px;
  text-decoration: none;
  color: #FFF8FD;
  
}
.setaheader {
    position: absolute;
    top: 0px;
    right: -130px;
    width: 100%;
    height: 100%;
}
.btns0 {
    position: absolute;
    top: 30px;
    bottom: 0px;
    right: -160px;
}
.btn01 {
      background-color: #1B181A;
      color: #F266CD;
      border: 3px solid #F266CD;
      border-radius: 999px;
      padding: 5px 25px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
}
.btn01:hover {
      background-color: #F266CD;
      color: #1B181A;
}
.btn02 { 
      background-color: #F266CD;
      color: #1B181A;
      border: 3px solid #F266CD;
      border-radius: 999px;
      padding: 5px 25px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
}
.btn02:hover {
      background-color: #1B181A;
      color: #F266CD;
}
main {
    position: absolute;
    top: 250px;
    width: 1020px;
    height: 300px;
    
}
.err404 {
    position: relative;
    left: 150px;
    width: 450px;
    height: 300px;
}
p {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 10px;
    font-size: 24px;
    right: -280px;
    width: 450px;
    height: 299px;
    text-align: center;
}
.btns1 {
    position: absolute;
    top: 135px;
    right: -210px;
}    
.btn11 {
      font-family: 'Poppins', sans-serif;
      position: relative;
        right: -15px;
      background-color: #F266CD;
      color: #1B181A;
      border: 3px solid #F266CD;
      font-weight: bold;
      border-radius: 999px;
      padding: 5px 30px;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
}
.img-btn11 {
    position: relative;
    right: 10px;
    top: 5px;
    width: 25px;
    height: 25px;

}
.btn12 {
      font-family: 'Poppins', sans-serif;
      position: relative;
      right: -45px;
      top: 20px;
      background-color: #1B181A;
      color: #F266CD;
      border: 3px solid #F266CD;
      font-weight: bold;
      border-radius: 999px;
      padding: 5px 30px;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
}
.img-btn12 {
    position: relative;
    right: 10px;
    top: 4px;
    width: 25px;
    height: 25px;

}