@font-face {
  font-family: 'NeoTech';
  src: url('/css/fonts/NeoTech.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'NeoTech';
  src: url('/css/fonts/NeoTech-Bold.woff2') format('woff2');
  font-weight: bold;
}
body {
    margin: 0px;
    background-color: #1b181a;
    font-family: 'Poppins', sans-serif;
    color: #FFF8FD;
}
header {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 110px;
    font-size: 20px;
    padding: 1px;
    gap: 20px;
}
header::after {
    content: "";
    left: -3px;
    height: 2px;
    width: 100%;
    background: repeating-linear-gradient(#918C8F);
}
.logo {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-top: 22px;
}
.menu-container {
    justify-content: space-around;
    display: flex;
    gap: 40px;
}    
nav {
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
    margin-top: 12px;
    font-weight: 500;
    gap: 48px;
}
.menu {
    text-decoration: none;
    color: #FFF8FD;
}
.btns0 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: 20px;
    margin-bottom: 1px;
    margin-left: 25px;
}
.btn01 {
    background-color: #1B181A;
    color: #F266CD;
    border: 3px solid #F266CD;
    width: 105x;
    height: 50px;
    border-radius: 999px;
    padding: 5px 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.btn01:hover {
    background-color: #F266CD;
    color: #1B181A;
}
.btn02 { 
    background-color: #F266CD;
    color: #1B181A;
    border: 3px solid #F266CD;
    width: 182x;
    height: 50px;      
    border-radius: 999px;
    padding: 5px 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.btn02:hover {
    background-color: #1B181A;
    color: #F266CD;
}
main {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    margin: 32px;
    padding: 72px;
    gap: 64px;
}
.err404 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 450px;
    height: 300px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
p {
  font-size: 24px;
  margin-bottom: 0;
}
p b {
    color: #8487BF;
}
.btns1 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}    
.btn11 {
    font-family: 'Poppins', sans-serif;
    background-color: #F266CD;
    display: flex;
    color: #1B181A;
    border: 3px solid #F266CD;
    font-weight: bold;
    border-radius: 24px;
    padding: 5px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.img-btn11 {
    position: relative;
    right: 10px;
    width: 25px;
    height: 25px;
}
.btn12 {
    font-family: 'Poppins', sans-serif;
    background-color: #1B181A;
    color: #F266CD;
    display: flex;
    border: 3px solid #F266CD;
    font-weight: bold;
    border-radius: 24px;
    padding: 5px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.img-btn12 {
    position: relative;
    right: 10px;
    width: 25px;
    height: 25px;
}
